/* GENERAL */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    height: 100vh;
}
h1{
    margin-bottom: 10px;
}
ul{
    width: 500px;
}

ul li{
    list-style: none;
    margin-bottom: 10px;
}

.indice{
    display: inline-block;
    width: 30px;
}

/* .email{
    margin-left: 10px;
} */


